body {
    background-color: #F5F5F5;
    padding-right: 0px;
    padding-left: 0px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

#header h1 {
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#header {
    color: #ffffff;
   
}

#particles-js {
    width: 100%;
    height: 464px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;/*TODO Change to %*/
}

#header .paralax {
    background-image: url("../Images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 464px;
    width: 100vw;
    height: 464px;
    height: 100%;
    position: fixed;
   
    background: url("../Images/header.png") no-repeat center;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}


#header .left-col {
    padding-top: 60px;
}

#header .right-col {
    padding-top: 60px;
}

@media screen and (max-width: 640px) {
    #header {
        height: 100vh;
    }

        #header .paralax {
            height: 100vh;
        }

    .picture-me {
        width: 200px;
        height: 200px;
    }

    #header .right-col {
        text-align: center;
        padding-top: 30px;
    }

    #header .left-col {
        text-align: center;
        padding-top: 30px;
    }
}



#header p {
    font-size: 18px;
    font-weight: lighter;
}

#header .big{
    font-size:35px;
    line-height:43px;
}

#header .description{
    margin-top:30px;
}


@media screen and (max-width: 640px) {
    #header h1 {
        font-size: 28px;
    }

    #header .big {
        font-size: 20px;
        line-height: 25px;
    }
}


#header .container.row {
    max-width: 900px;
    margin: 0 auto;
}

#header a.but-border {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 27px;
}

.font-grey {
    color:#464646
}

a.but-border {
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: 50px;
    display: inline-block;
    padding: 0px 25px 0px 25px;
    background: none;
    font-size: 10px;
    font-weight: normal;
    line-height: 100%;
    vertical-align: middle;
    text-decoration:none;
    color:white;
    transition:0.3s;
    padding-top:10px;
}

a.but-border:hover {
    background-color: white;
    color: #464646;
}

.navbar-nav {
    margin: 0 auto;
}

#navigationBar {
    background-color: #6293B8;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

#navigationBar nav{
    background-color:unset !important;
    color:white !important;
}

    #navigationBar .nav-item.active {
        font-weight: bold;
        border-bottom: 3px solid white;
    }

#navigationBar .nav-item {
    height: 65px;
    padding: 13px 27px;
}

#navigationBar .navbar {
    padding: 0px;
}


#competenceSection {
    padding-bottom: 50px;
    background-color:white;
}

#competenceSection .skill h3 {
    color: #464646;
    font-size: 33px;
    font-weight: bold;
}

#competenceSection .skill {
    max-width: 488px;
    margin: 0 auto;
    padding-top:40px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #222C37;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

#myProject {
    background-color: #E0E0E0;
    display: inline-block;
    padding-bottom:80px;
}

.project-picture {
    position: relative;
    color: white !important;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none !important;
}

.project-picture.no-link {
    cursor: default !important;
}

.project-picture p, .project-picture a {
    text-decoration: none !important;
    color:white;
}

.project-picture .project-background {
    max-width: 100%;
    max-height: 100%;
}

.hokutoNoNekoPicture {
    background-image: url("../Images/HokutoNoNeko.png");
}

.weeloPicture {
    background-image: url("../Images/WeeloMain.PNG");
}

.notsomagicPicture {
    background-image: url("../Images/notSoMagic.gif");
}

.muchgoldPicture {
    background-image: url("../Images/MuchGold.jpg");
}

.greedymummyPicture {
    background-image: url("../Images/greedyMummy.png");
}

.smallestmmorpgeverPicture {
    background-image: url("../Images/SmallestMmorpgEver.PNG");
}

.cheatPicture {
    background-image: url("../Images/CheatTeachMenu.png");
}

.rankrPicture {
    background-image: url("../Images/RankrHeather.png");
}

.zenitudePicture {
    background-image: url("../Images/Zenitude.PNG");
}

.blueprintPicture {
    background-image: url("../Images/TheBlueprint2.png");
}

.timPicture {
    background-image: url("../Images/tim.gif");
}

.arcadePicture {
    background-image: url("../Images/BorneBar.jpeg");
}

.systemeBPicture {
    background-image: url("../Images/SystemB.PNG");
}

.nesPicture {
    background-image: url("../Images/nes.jpg");
}

.flailPicture {
    background-image: url("../Images/flail.PNG");
}

.project-picture:hover .project-overlay {
    background-color: black;
    filter: brightness(30%);
}

.project-picture .project-link {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 55px;
    height: 55px;
    background-color: rgba(70,70,70,0.5);
    /*background-image: url("../Images/link.png");*/
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5;
    transition:opacity 0.3s;
}

.project-picture:hover .project-link {
    background-color: transparent;
    border:1px solid white;
    opacity: 1;
    transition:0.3s;
}

.project-picture .project-link i {
    margin-top:20px;
}

.project-picture .project-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-size: cover;
    background-position: center;
    transition: filter 0.3s;
    transition: transform 0.3s;
}

.project-picture .project-detail {
    position: relative;
    opacity: 0;
    transition: 0.2s;
}

.project-picture:hover .project-detail {
    opacity: 1;
}

.project-picture:hover .project-overlay {
    transform: scale(1.05);
}

@media (hover: none) {
    .project-picture .project-detail {
        opacity: 1;
    }
}

.project-detail h3 {
    margin-top:75px;
    font-size:37px;
    margin-bottom:0px;
}

.project-detail h3.small-margin {
    margin-top: 42px;
}

.project-detail hr {
    border: none;
    border-top: 2px solid white;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 65%;
}

.project-detail .subtitle{
    font-size:18px;
}

#myProject .project {
    padding-top: 80px;
}

#myProject .project img {
    width: 100%;
    height: auto;
}

#footer {
    background-color: #51697D;
    color: white;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(../Images/footerTexture.png);
    background-repeat: repeat;
    color: #646464;
    padding-top:70px;
    padding-bottom:9px;
}

#footer .left-col p{
    max-width:350px;
}

#footer h4 {
    font-size:26px;
    font-weight:bold;
}

#footer h5 {
    font-weight: bold;
}

#footer .email,a {
    font-size: 16px;
    color: #2A8A9A;
    font-weight:bold;
    
}

#footer a {
    transition: font-size 0.2s cubic-bezier(.4,.72,.6,1.32);
}

#footer a:hover {
    text-decoration: unset;
    font-size: 20px;
    color: #6293B8;
}

#small-lines{
    margin-top:50px;
    font-size:10px;
}

#small-lines p{
    margin-bottom:4px;
}

#small-lines .big{
    font-size:16px;
}


@keyframes heartColor {
    0% {
        color: red;
    }

    25% {
        color: yellow;
    }

    50% {
        color: blue;
    }

    100% {
        color: green;
    }
}

@keyframes heatBeat {
    0% {
        font-size: 16px;
        color: #646464;
    }

    30% {
        font-size: 16px;
        color: #646464;
    }

    31% {
        font-size: 18px;
        color: #DF2E76;
    }

    70% {
        font-size: 16px;
        color: #646464;
    }
}

.heart {
    animation-name: heatBeat;
    animation-duration:  2s;
    animation-iteration-count:infinite;
    transition:0.2s;
}

#myVideo {
    height: 100%;
    position: absolute;
    right: -13%;
}