body {
    background-color: #F5F5F5;
    padding-right: 0px;
    padding-left: 0px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}


#header h1 {
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#header {
    color: #ffffff;
   
}

#particles-js {
    width: 100%;
    height: 464px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;/*TODO Change to %*/
}

#header .paralax {
    background-image: url("../Images/header.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 464px;
    width: 100vw;
    height: 464px;
    height: 100%;
    position: fixed;
   
    background: url("../Images/header.png") no-repeat center;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}


#header .left-col {
    padding-top: 60px;
}

#header .right-col {
    padding-top: 60px;
}

@media screen and (max-width: 640px) {
    #header {
        height: 100vh;
    }
    #header .paralax {
        height: 100vh;
    }
    .picture-me {
        width: 200px;
        height: 200px;
    }
    #header .right-col {
        text-align: center;
        padding-top: 30px;
    }

    #header .left-col {
        text-align: center;
        padding-top: 30px;
    }
}



#header p {
    font-size: 18px;
    font-weight: lighter;
}

#header .big{
    font-size:35px;
    line-height:43px;
}

#header .description{
    margin-top:30px;
}


#header .container.row {
    max-width: 900px;
    margin: 0 auto;
}

#header a.but-border {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 27px;
}

.font-grey {
    color:#464646
}

a.but-border {
    border: 2px solid #ffffff;
    border-radius: 25px;
    height: 50px;
    display: inline-block;
    padding: 0px 25px 0px 25px;
    background: none;
    font-size: 10px;
    font-weight: normal;
    line-height: 100%;
    vertical-align: middle;
    text-decoration:none;
    color:white;
    transition:0.3s;
    padding-top:10px;
}

a.but-border:hover {
    background-color: white;
    color: #464646;
}

#navigationBar {
    background-color: #51697D;
    text-align:center;
}

#navigationBar nav{
    background-color:unset !important;
    color:white !important;
}

#navigationBar .nav-item.active{
    font-weight:bold;
    border-bottom:3px solid white;
}

#navigationBar .nav-item {
    height: 65px;
    padding-top: 13px;
}

#navigationBar .navbar {
    padding: 0px;
}


#competenceSection {
    padding-bottom: 50px;
    background-color:white;
}

#competenceSection .skill h3 {
    color: #464646;
    font-size: 33px;
    font-weight: bold;
}

#competenceSection .skill {
    max-width: 488px;
    margin: 0 auto;
    padding-top:40px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #222C37;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

#myProject {
    background-color: #E0E0E0;
    display: inline-block;
    padding-bottom:80px;
}

.project-picture{
    position:relative;
    color:white;
    text-align:center;
    cursor:pointer;
}

.project-picture .project-background {
    max-width: 100%;
    max-height: 100%;
}

.project-picture .project-link {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 55px;
    height: 55px;
    background-color: #51697D;
    background-image:url("../Images/link.png");
    background-repeat:no-repeat;
    background-position:center;
}

.project-picture .project-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.project-picture .project-detail{
    position:relative;
    opacity:0;
    transition:0.2s;
}

.project-picture:hover .project-detail{
    opacity:1;
}

@media (hover: none) {
    .project-picture .project-detail {
        opacity: 1;
    }
}

.project-picture h3 {
}

#myProject .project{
    padding-top:80px;
}

#myProject .project img {
    width: 100%;
    height: auto;
}

#footer {
    height: 60px;
    background-color: #51697D;
    color: white;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
}